<%= upcoming_holidays %>

<h2>My Bulk Discounts:</h2>
<p><%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant.id) %>
<br>
<section id= "holiday<%= bulk_discount.holiday %>"
  <h3>Upcoming Holidays</h3>

</section>

<br>
<% @bulk_discounts.each do |discount| %>
  <div id= "discount<%= discount.id %>">
  <h4>Discount ID #: <%= discount.id %></h4>
  <p>Percentage Discount: <%= discount.percentage_discount %></p>
  <p>Discount Quantity Threshold: <%= discount.quantity_threshold %></p>
  <p><%= link_to "Discount #{discount.id} Show Page", merchant_bulk_discount_path(@merchant, discount) %>
  <p><%= link_to "Delete This Discount", merchant_bulk_discount_path(@merchant, discount), method: :delete %></p>
  </div>
<% end %>
